= render partial: 'problem_header'

%h2 Advanced Canaries:
%p 
  Now that you know how terminal, seed, and XOR canary works, determine the canaries addresses and their values. Canaries can be XOR, terminal or seeded, and values are always seeded at the previous canary value +9. Then output all the exploitable buffer.

%h2 Assumptions:
%ol
  %li 1.	Type of canary are in random order
  %li 2.	All previous assumptions in problem 3 and 4 are true

= link_to 'Click here for more info', '/Problem 4.pdf'  

%h2 Actual Problem
%h3 Machine Code
.data
  %code= @prob[:riddle]

%h3 Stack File
.data
  %code= @prob[:stackfile]

= render partial: 'submit'
