= render partial: 'problem_header'
%p
  RSA Bruteforce

%p 
  http://en.wikipedia.org/wiki/RSA_(cryptosystem)
  Known: primes used to generate n are both less than 110000
  Text is an integer encoded as a concatenation of ASCII values.
  ex. FREES = '70' + '82' + '69' + '69' + '83' = 7052696983


%h2 Sample Problem
%h4 Ciphertext
.data
  %code 7798752209
%h4 Public Key
.data
  %code 6761
%h4 Public Modulus
.data
  %code 10531129331
%h4 Solution
.data
  %code RAILS	

%h2 Actual Problem
%h4 Ciphertext
.data
  %code= @prob[:rsa_ciphertext]
%h4 Public Key: exponent
.data
  %code= @prob[:publicKey]
%h4 Public Key: modulus
.data
  %code= @prob[:exponentN]

= render partial: 'submit'
