

.featured
  %p
    The Dojo is our monthly programming contest. <br />
    Have fun, eat, and learning something new; <br />
    you might even win an awesome prize! <br />
  %p
    Our challenges start off easy, but get trickier as the night goes on.
    You can fly solo, or work together and share the spoils.
    And don't worry, you can use any programming language.
  %p
    New coders are welcome! You can partner up and can always take advantage of those around you.
    It won't be easy, but it will be educational and fun!

  %h1
    Monkey Business Dojo - Saturday, March 7th
  %p  
    %br
    %br
      
    = link_to 'Dojo Info', "March 2015 Dojo Description.pdf"

- if @contests.length != 0
  %h1 Active Contests

  -if current_user

    %ol#contests
      - @contests.each do |contest|
        %li
          .controls
            - if can? :edit, contest
              = link_to 'Edit', edit_contest_path(contest)
            - if can? :destroy, contest
              = link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete
          .contest-info
            %p= link_to contest.description, contest
            - if DateTime.now < contest.start
              %p
                = distance_of_time_in_words DateTime.now, contest.start
                until contest starts
            - elsif DateTime.now < contest.end
              %p
                = distance_of_time_in_words DateTime.now, contest.end
                remaining
  - else
    Log in to see the contests.

%br

- if can? :create, Contest
  = link_to 'New Contest', new_contest_path
